%aside.app-sidebar.sidebar-left{"data-ng-include" => "", :src => "'partials/sidebar-left.html'"}

%header#app-header.navbar{"data-ng-include" => "", :src => "'partials/header.html'"}

%footer#app-footer{"data-ng-include" => "", :src => "'partials/footer.html'"}

%section#app-content.clearfix{"data-ng-style" => "{'min-height':+core.screen.height+'px'}"}
  .spinner-wrapper
    %div{"data-indicator" => ""}

  .content-body.slide-down{"data-ng-style" => "{'min-height':+core.screen.height+'px'}", "data-ui-view" => "", autoscroll: ""}

%section#app-backdrop{"data-ng-class" => "{'show': core.settings.sidebarLeftOpen}", "data-ng-click" => "core.settings.sidebarLeftOpen = !core.settings.sidebarLeftOpen"}
