.container-fluid.pt-md
  .panel
    .panel-heading
      .panel-title All Records
    .panel-body
      .row
        .col-md-12
          .input-group
            %input.input-sm.form-control{:placeholder => "Search Here", :type => "text"}/
            %span.input-group-btn

    %table.table.table-hover
      %thead
        %tr
          %th= Property.human_attribute_name(:name)
          %th= Property.human_attribute_name(:address_line_1)
          %th= Property.human_attribute_name(:city)
          %th= Property.human_attribute_name(:state)
          %th &nbsp;
      %tbody
        %tr{"ng-repeat" => "record in records"}
          %td
            %a{"ui-sref" => "default.properties.property.show({id: record.id})"}
              {{record.name}}
            %br/
            %small {{record.city}}, {{record.state}}
          %td {{record.address_line_1}}
          %td {{record.city}}
          %td {{record.state}}

          %td.text-center
            .toolbar
              %a.btn.btn-sm.btn-default{{"ui-sref" => "default.properties.property.edit({id: record.id})"}}
                %span.fa.fa-pencil
              %a.btn.btn-sm.btn-default{href: ""}
                %span.fa.fa-trash-o
