.container-fluid.pt-md

  / start: row
  .row
    .col-md-12
      / start: panel
      .panel.panel-default
        .panel-heading
          .panel-title All Records
        / start: table responsive
        .table-responsive
          %table.table.table-striped.table-hover
            %thead
              %tr
                %th{:width => "3%"}
                  .checkbox.custom-info.mt-0.mb-0
                    %label
                      %input{:type => "checkbox"}/
                      %span
                %th= Property.human_attribute_name(:name)
                %th= Property.human_attribute_name(:address_line_1)
                %th= Property.human_attribute_name(:city)
                %th= Property.human_attribute_name(:state)
                %th &nbsp;
            %tbody
              %tr{"ng-repeat" => "record in records"}
                %td
                  .checkbox.custom-info.mt-0.mb-0
                    %label
                      %input{:type => "checkbox"}/
                      %span
                %td
                  %a{"ui-sref" => "default.properties.show({id: record.id})"}
                    {{record.name}}
                %td {{record.address_line_1}}
                %td {{record.city}}
                %td {{record.state}}

                %td.text-center
                  / button toolbar
                  .toolbar
                    %a.btn.btn-sm.btn-default{:href => ""}
                      %span.fa.fa-check
                    %a.btn.btn-sm.btn-default{:href => ""}
                      %span.fa.fa-trash-o
                  / / button toolbar
