.ui-view.slide-down

#transaction-modal.modal.fade.full-height-modal-right{"aria-hidden" => "true", "aria-labelledby" => "transaction-modalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog
    .modal-content-wrap{style: "height: 100%;"}
      .modal-content{style: "height: 100%;"}
        .modal-header
          %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
            %span{"aria-hidden" => "true"} ×
          %h4#transaction-modalLabel.modal-title= I18n.t(:add_new, name: Transaction.model_name.human)
        .modal-body
          %form.form-horizontal{name: "form", "novalidate" => ""}
            .form-group{"highlight-if-error" => "name"}
              %label.col-sm-3.control-label= Property.human_attribute_name(:name)
              .col-sm-9
                %input.form-control{type: "text", "ng-model" => "record.object.name", name: "name"}/
                %span{"error-messages" => "name"}
            %hr.mnr-md.mnl-md/

            .form-group{"highlight-if-error" => "address_line_1"}
              %label.col-sm-3.control-label= Property.human_attribute_name(:address_line_1)
              .col-sm-9
                %input.form-control{type: "text", "ng-model" => "record.object.address_line_1", name: "address_line_1"}/
                %span{"error-messages" => "address_line_1"}
            %hr.mnr-md.mnl-md/
