%div
  .page-header
    .box-layout
      .col-sm-10.va-m
        %h3
          %a{"ui-sref" => "default.properties.index"}
            = Property.model_name.human(count: 2)
          %span{"ng-show" => "record.object.name"}
            %small
              &#10095;
              {{record.object.name}}
      .col-sm-2.va-m
        .pull-right
          %a.btn.btn-success{type: "button", "ui-sref" => "default.properties.new", "ng-hide" => "$state.includes('default.properties.show')"}
            %span.fa.fa-plus
            = I18n.t(:add, name: Property.model_name.human)

          %a.btn.btn-primary{type: "button", "ui-sref" => "default.properties.edit({id: record.object.id})", "ng-show" => "$state.includes('default.properties.show')"}
            %span.fa.fa-pencil
            = I18n.t(:edit_object, name: Property.model_name.human)

  .ui-view.slide-right