%div
  .page-header
    .box-layout
      .col-sm-10.va-m
        %h3
          %a{"ui-sref" => "default.properties.index"}
            = Property.model_name.human(count: 2)
          %a{"ui-sref" => "default.properties.show({id: record.object.id})", "ng-show" => "record.object.name"}
            %small
              &#10095;
              {{record.object.name}}
      .col-sm-2.va-m
        .pull-right
          %a.btn.btn-success{type: "button", "ui-sref" => "default.properties.new", "ng-hide" => "$state.includes('default.properties.show')"}
            %span.fa.fa-plus
            = I18n.t(:add, name: Property.model_name.human)

          .btn-group{dropdown: "", "ng-show" => "$state.includes('default.properties.show')"}
            %button.btn.btn-primary{type: "button", "ui-sref" => "default.properties.edit({id: record.object.id})"}
              %span.fa.fa-pencil
              = I18n.t(:edit_object, name: Property.model_name.human)
            %button.btn.btn-primary.dropdown-toggle{"aria-expanded" => "false", "data-toggle" => "dropdown", :type => "button"}
              %span.caret
            %ul.dropdown-menu{role: "menu"}
              %li
                %a{:href => "javascript:void(0);"}
                  %span.fa.fa-trash-o
                  = I18n.t(:delete)

  .ui-view.slide-right