.container-fluid.pt-md
  .row
    .col-md-9
      %div{"ng-include" => "'properties/form.html'"}
    .col-md-3
      %h4
        %b Tips
      %br/
      %p.small
        Tell us a bit about your property. This information will be used to better categorize and report on your data. It will also let prospective tenants know more about your property if you ever decide to list it.
      %p.small
        During step 3 you'll be able to add a lease. This is where you can add tenants and setup other lease details such as rent & deposit amounts and contract duration.
