.container-fluid.pt-md
  .panel.ibox
    .panel-body.ibox-content
      .invoice-header
        %h3
          %div
            %small
              %strong> Pixel
              Admin
            %br/
            INVOICE #244
        %address
          PixelAdmin Ltd.
          %br/
          Los Angeles, Hoover Street, 32
          %br/
          90080 CA, USA
        .invoice-date
          %small
            %strong Date
          %br/
          February 21, 2013
      .invoice-info
        .invoice-recipient
          %strong Mr. John Smith
          %br/
          New York, Pass Avenue, 109
          %br/
          10012 NY, USA
        .invoice-total
          %span $4,657.75
          TOTAL:
      %hr/
      .invoice-table
        %table
          %thead
            %tr
              %th
                Task description
              %th
                Rate
              %th
                Hours
              %th
                Line total
          %tbody
            %tr
              %td
                Website design and development
                .invoice-description Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.
              %td
                $50.00
              %td
                50
              %td
                $2,500.00
            %tr
              %td
                Branding
                .invoice-description Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.
              %td
                $47.95
              %td
                45
              %td
                $2,157.75