.container-fluid.pt-md
  .panel.ibox.invoice

    .invoice-header
      .panel-body
        .row
          .col-xs-8
            %h3
              INVOICE #244
              %br/
              %small
                {{record.object.subject}}
          .col-xs-4
            .invoice-date
              %small
                %strong= Invoice.human_attribute_name(:issue_date)
              %br/
              {{ record.object.issue_date }}

      %hr

    .panel-body.ibox-content
      .row.invoice-info
        .col-xs-6
          .invoice-recipient
            %strong {{ record.object.tenants[0].name }}
        .col-xs-6
          .invoice-total
            %span $ {{ record.object.total_amount | number:2 }}
            TOTAL:
      %hr/
      .invoice-table
        %table
          %thead
            %tr
              %th.col-xs-10
                = Invoice::LineItem.human_attribute_name(:summary)
              %th.col-xs-2
                = Invoice::LineItem.human_attribute_name(:amount)
          %tbody
            %tr{"ng-repeat" => "line_item in record.object.line_items"}
              %td
                {{ line_item.summary }}
              %td
                $ {{ line_item.amount | number:2 }}
