/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 *= require bootstrap-datepicker3
 */

@import url(https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,600,700,300&subset=latin);

@import "bootstrap-sprockets";
@import "bootstrap/_variables.scss";
@import "bootstrap";

@import "miveus/fontawesome";
@import "miveus/layout";
@import "miveus/component";

@import "widgets";
@import "atlant";
@import "modals";

body {
  font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 13px;
}
.form-control {
  border-radius: 0px;
}

.input-group-addon {
  border-radius: 0px;
}

.datepicker {
  padding: 6px 12px !important;
  border-radius: 0px  !important;
}

.form-control-icon .form-control.datepicker {
  padding-left: 34px !important;
}

// Remove horizontal margins
.no-margin-hr {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

// Remove vertical margins
.no-margin-vr {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

// Remove bottom margin
.no-margin-b {
  margin-bottom: 0 !important;
}

// Remove top margin
.no-margin-t {
  margin-top: 0 !important;
}










.panel-heading {
  border-color: #eff2f7;
  font-size: 16px;
  font-weight: 300;
}
.panel-heading {
  padding: 10px 15px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

body {
  color: #797979;
  background: #f1f2f7;
  font-family: 'Open Sans', sans-serif;
  padding: 0px !important;
  margin: 0px !important;
  font-size: 13px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;

}
body {
  font-family: "Helvetica Neue", Helvetica,Arial,sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  // background-color: #fff;

  // background-color: #F1F2F7;
  // background: #f3f3f3;

  background-color: #f3f3f4;
  font-family: "open sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #676A6C;
}

html {
  font-size: 10px;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

.panel {
  border: none;
  box-shadow: none;
}
.panel {
  margin-bottom: 20px;
  background-color: #fff;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
  box-shadow: 0 1px 1px rgba(0,0,0,.05);
}

a {
  color: #667fa0;
}



.profile-nav .user-heading {
  background: #3a4856;
  color: #fff;
  border-radius: 4px 4px 0 0;
  -webkit-border-radius: 4px 4px 0 0;
  padding: 30px;
  text-align: center;
}

.profile-nav .user-heading.round a {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  border: 10px solid rgba(255,255,255,0.3);
  display: inline-block;
}

.profile-nav .user-heading h1 {
  font-size: 22px;
  font-weight: 300;
  margin-bottom: 5px;
}

.profile-nav .user-heading p {
  font-size: 12px;
}

.profile-nav .nav-pills > li + li {
  margin-left: 0;
}

.profile-nav .action-buttons > .btn-group{
  width: 100%;
}

.profile-nav .action-buttons > .btn-group > .btn,
.profile-nav .action-buttons > .btn-group .btn-group{
  width: 50% !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
  border-radius: 0 !important;
}

.profile-nav .action-buttons > .btn-group .btn-group > .btn{
  width: 100%;
}






// inspinia

b, strong {
  font-weight: 700;
}

h2, .h2 {
  font-size: 24px;
}

h3, .h3 {
  font-size: 16px;
}

h4, .h4 {
  font-size: 14px;
}

h5, .h5{
  font-weight: 600;
  font-size: 12px;
}

.ibox-title h5 {
  display: inline-block;
  font-size: 14px;
  margin: 0 0 7px;
  padding: 0;
  text-overflow: ellipsis;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 0;
  color: inherit;
  line-height: 1.1;
}

.ibox-content h1, .ibox-content h2, .ibox-content h3, .ibox-content h4, .ibox-content h5, .ibox-title h1, .ibox-title h2, .ibox-title h3, .ibox-title h4, .ibox-title h5 {
  margin-top: 5px;
  margin-bottom: 10px;
}

.ibox-tools a {
  cursor: pointer;
  margin-left: 5px;
  color: #c4c4c4;
  font-size: 13px;
}

.contact-box {
  // border: 1px solid #e7eaec;
  // padding: 20px;
  margin-bottom: 20px;
}
.contact-box h5{
  margin-bottom: 5px;
}
.contact-box a {
  color: inherit;
}

.blank-slate h2{
  font-weight: 100;
}

.btn{
  border-radius: 3px;
}





// // pixel

// $panel-content-padding: 20px;
// //== Media queries breakpoints
// //
// //## Define the breakpoints at which your layout will change, adapting to different screen sizes.

// // Extra small screen / phone
// // Note: Deprecated $screen-xs and $screen-phone as of v3.0.1
// $screen-xs:                  480px !default;
// $screen-xs-min:              $screen-xs !default;
// $screen-phone:               $screen-xs-min !default;

// // Small screen / tablet
// // Note: Deprecated $screen-sm and $screen-tablet as of v3.0.1
// $screen-sm:                  768px !default;
// $screen-sm-min:              $screen-sm !default;
// $screen-tablet:              $screen-sm-min !default;

// // Medium screen / desktop
// // Note: Deprecated $screen-md and $screen-desktop as of v3.0.1
// $screen-md:                  992px !default;
// $screen-md-min:              $screen-md !default;
// $screen-desktop:             $screen-md-min !default;

// // Large screen / wide desktop
// // Note: Deprecated $screen-lg and $screen-lg-desktop as of v3.0.1
// $screen-lg:                  1200px !default;
// $screen-lg-min:              $screen-lg !default;
// $screen-lg-desktop:          $screen-lg-min !default;

// // So media queries don't overlap when required, provide a maximum
// $screen-xs-max:              ($screen-sm-min - 1) !default;
// $screen-sm-max:              ($screen-md-min - 1) !default;
// $screen-md-max:              ($screen-lg-min - 1) !default;

// .page-profile {
//   // Heading

//   .profile-full-name {
//     font-size: 20px;
//     font-weight: 300;
//     line-height: 40px;
//     padding-top: 15px;
//     padding-bottom: 20px;
//     position: relative;
//     border-bottom-width: 2px;
//     margin-bottom: 0;
//     text-align: center;
//   }

//   // Tabs

//   .profile-content .tab-content {
//     background: #fff;
//   }
  

//   // Avatar and controls
//   //

//   .profile-block {
//     margin-bottom: 18px;
//     text-align: center;
//   }

//   .profile-photo {
//     padding: 6px;
//     display: inline-block;
//     margin-bottom: 10px;
//     border-radius: 999999px;
//   }

//   .profile-photo img {
//     display: block;
//     max-width: 100%;
//     border-radius: 999999px;
//   }


//   // Panels
//   //

//   .left-col > .panel .panel-heading {
//     padding-left: 10px;
//     padding-right: 10px;
//   }

//   .left-col > .panel .panel-body {
//     padding: 10px;
//     padding-bottom: 0;
//   }

//   .left-col .list-group-item {
//     background: none !important;
//     border: none;
//     padding-bottom: 0;
//     margin-top: 7px;
//     padding-left: 10px;
//     padding-right: 10px;
//   }

//   .profile-skills .label {
//     display: block;
//     float: left;
//     margin-right: 4px;
//     margin-bottom: 4px;
//   }

//   .profile-list-icon {
//     width: 24px;
//     text-align: center;
//     font-size: 14px;
//   }


//   // Timeline

//   .tl-header,
//   .tl-icon,
//   .tl-entry:before {
//     box-shadow: 0 0 0 4px #fff !important;
//   }

//   // Followers widget
//   .widget-followers {
//     margin: -$panel-content-padding;

//     .follower {
//       padding: 13px $panel-content-padding;
//     }
//   }

//   // Horizontal line
//   .profile-content-hr {
//     margin-top: 30px;
//     margin-bottom: 30px;
//   }
// }


// @media (min-width: $screen-tablet) {
//   .page-profile {
//     .left-col {
//       float: left;
//       width: 220px;
//     }
//     .right-col {
//       overflow: hidden;
//       padding-left: 20px;
//     }
//     .profile-content {
//       margin-top: 0;
//     }
//     .profile-full-name {
//       padding-left: 240px;
//       padding-bottom: 50px;
//       text-align: left;
//     }

//     .profile-row {
//       margin-top: -36px;
//     }

//     .profile-block {
//       margin-top: -70px;
//     }
//   }
//   .profile-content-hr {
//     display: none;
//   }

//   .panel .panel-heading {
//     border-bottom: 2px solid #ececec;
//   }

//   .panel .panel-heading .panel-title {
//     color: #555;
//     font-size: 14px;
//     line-height: 20px;
//     margin-left: 0;
//   }

//   .panel.panel-transparent>.panel-heading {
//   border-bottom-color: #e2e2e2!important;
//   }
  
//   .left-col>.panel .panel-heading {
//     padding-left: 10px;
//     padding-right: 10px;
//   }
  
//   .panel-transparent .panel-body, .panel-transparent .panel-heading {
//     background: none!important;
//   }

//   .left-col>.panel .panel-body {
//     padding: 10px;
//     padding-bottom: 0;

//     font-size: 13px;
//     line-height: 1.42857143;
//   }

//   .panel.profile-photo{
//     width: auto;
//     float: none;
//     border: 1px solid #e2e2e2;

//     padding: 6px;
//     display: inline-block;
//     margin-bottom: 10px;
//     border-radius: 999999px;
//     position: relative;

//     img{
//       display: block;
//       max-width: 100%;
//       border-radius: 999999px;
//     }
//   }

// }


// .panel-transparent {
//   background: none !important;
//   border: none !important;

//   -webkit-box-shadow: none !important;
//   -moz-box-shadow: none !important;
//   box-shadow: none !important;

//   .panel-heading {
//     background: none !important;
//   }

//   .panel-body {
//     background: none !important;
//   }

//   .panel-body, .panel-heading {
//     background: none!important;
//   }

//   .panel-footer {
//     background: none !important;
//     border: none !important;
//   }
// }