!!!
%html{"ng-app" => "propertea", "data-ng-class" => "{'page-loading': core.settings.pageLoading, 'header-fixed': core.settings.headerFixed, 'sidebar-left-fixed': core.settings.sidebarLeftFixed, 'sidebar-left-collapse': core.settings.sidebarLeftCollapse || core.screen.sm, 'sidebar-open-ltr': core.settings.sidebarLeftOpen,}", "data-ng-controller" => "coreSettingsCtrl"}
  %head
    %title Renta
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
    
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
  %body

    %section#app-wrapper{"data-ui-view" => ""}
    
    :javascript
      //<![CDATA[
      document.write('<script src="//' + (location.hostname || 'localhost') + ':35729/livereload.js?snipver=1"><\/script>')
      //]]>
    %script{:src => "//localhost:35729/livereload.js?snipver=1"}
    #flotTip{:style => "display: none; position: absolute; z-index: 1040; padding: 0.4em 0.6em; border-radius: 0.5em; font-size: 0.8em; border: 1px solid rgb(17, 17, 17); white-space: nowrap; background: rgb(255, 255, 255);"}
    .jvectormap-label